:root {
  --text-color: #cfcacf;
  --thumbnail-size: 260px;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #101310;
  color: var(--text-color);
}
body a { color: #afa0af; }

body > nav { margin: 0.5rem 0; }
body > nav a:not(.active) { text-decoration: none; color: #9f909f; }

nft-listing {
  float: left;
  width: var(--thumbnail-size);
  margin: 1rem 1rem 0 0;
  height: var(--thumbnail-size);
  overflow: hidden;
  position: relative;
  opacity: 0.65;
}
nft-listing:hover { opacity: 1; }

.nfts > nft-listing { display: none; }
.nfts.available > nft-listing:not([owner]) { display: block; }
.nfts.yours > nft-listing[yours] { display: block; }
.nfts.all > nft-listing { display: block; }

header { position: relative; }
header metamask-login {
  position: absolute;
  top: 0; right: 1rem;
}
header metamask-login button {
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 0.5rem;
  background: transparent;
  color: var(--text-color);
}
header h1 { margin-bottom: 0.5rem; }
header h2 { margin-top: 0; margin-bottom: 3rem; font-size: 16px; }

footer {
  clear: both;
  font-size: 13px;
  padding-top: 3rem;
}
