:root {
  --text-color: #cfcacf;
  --thumbnail-size: 260px;
}

body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000;
  color: var(--text-color);
  margin: 0;
}
body a { color: #afa0af; }

.warning {
  text-align: center;
  font-weight: bold;
  color: black;
  background-color: #757575;
  padding: 0.35rem;
}
.warning a { color: #333; }
@media screen and (max-width: 420px) {
  .warning { font-size: 12px; }
}

@media screen and (min-width: 1050px) {
  .nfts { grid-template-columns: 1fr 1fr 1fr 1fr; }
}
.nfts {
  clear: both;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 700px) {
  .nfts { grid-template-columns: 1fr 1fr; }
}
@media screen and (max-width: 420px) {
  .nfts { grid-template-columns: 1fr; }
}

nft-listing {
  overflow: hidden;
  position: relative;
}

.nfts > nft-listing { display: none; }
.nfts.available > nft-listing:not([owner]) { display: block; }
.nfts.yours > nft-listing[yours] { display: block; }
.nfts.all > nft-listing { display: block; }

header { position: relative; }
header aside {
  position: absolute;
  top: 0; right: 0.75rem;
  text-align: center;
  font-size: 14px;
  line-height: 2rem;
}
@media screen and (max-width: 420px) {
  header aside {
    font-size: 12px;
  }
}

button {
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 0.5rem;
  background: transparent;
  color: var(--text-color);
}
@media screen and (max-width: 420px) {
  button { font-size: 12px; }
}

body > header { margin-top: 1rem; }
header h1 { margin: 0 0 0.25rem 0.75rem; }
header h2 {
  margin: 0rem 0 0 0.75rem;
  margin-bottom: 2rem;
  font-size: 16px;
  max-width: 65%;
}
@media screen and (max-width: 420px) {
  header h2 { font-size: 14px; }
}

footer > form { margin: 0.5rem 0.75rem; position: relative; }
footer > form a { margin-left: 0.25rem; }
footer > form a:not(.active) {
  text-decoration: none;
  color: #9f909f;
}

footer > form { line-height: 2rem; text-align: right; }

@media screen and (max-width: 420px) {
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: black;
    width: 100%;
    text-align: center;
  }

  footer > form button {
    width: 96%;
    margin: 2%;
  }
}

.metamask { display: none; }
