:root {
  --text-color: #cfcacf;
  --thumbnail-size: 260px;
}

body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000;
  color: var(--text-color);
}
body a { color: #afa0af; }

body > nav { margin: 0.5rem 0; }
body > nav a:not(.active) { text-decoration: none; color: #9f909f; }

.nfts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (min-width: 1050px) {
  .nfts { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
}
@media screen and (max-width: 700px) {
  .nfts { grid-template-columns: 1fr 1fr; }
}
@media screen and (max-width: 420px) {
  .nfts { grid-template-columns: 1fr; }
}

nft-listing {
  overflow: hidden;
  position: relative;
}

.nfts > nft-listing { display: none; }
.nfts.available > nft-listing:not([owner]) { display: block; }
.nfts.yours > nft-listing[yours] { display: block; }
.nfts.all > nft-listing { display: block; }

header { position: relative; }
header aside {
  position: absolute;
  top: 0; right: 1rem;
  text-align: center;
  font-size: 14px;
  line-height: 2rem;
}
header metamask-login button {
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 0.5rem;
  background: transparent;
  color: var(--text-color);
}
header h1 { margin-bottom: 0.5rem; }
header h2 {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 16px;
  max-width: 65%;
}

footer {
  clear: both;
  font-size: 13px;
  padding-top: 3rem;
}
