:root {
  --text-color: #cfcacf;
  --thumbnail-size: 260px;
}

body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000;
  color: var(--text-color);
  margin: 0 0 200px;
}

a, a > svg { color: #afa0af; fill: #afa0af; }
a:hover, a:hover > svg { color: white; fill: white }
a:active, a:active > svg { color: white; fill: white }

button {
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 0.5rem;
  background: transparent;
  color: var(--text-color);
}

.metamask { display: none; }

/* Testnet Warning */

body > header .warning {
  text-align: center;
  font-weight: bold;
  color: black;
  background-color: #999;
  padding: 0.35rem;
}
body > header .warning a { color: #333; }
@media screen and (max-width: 480px) {
  body > .warning { font-size: 12px; }
}

/* Header */

body > header {
  position: relative;
  margin: 0 0.75rem;
}
body > header aside {
  position: absolute;
  top: 0; right: 0;
  text-align: center;
  font-size: 14px;
  line-height: 2rem;
}
@media screen and (max-width: 480px) {
  body > header aside {
    font-size: 12px;
  }
}
body > header a {
  margin-right: 0.25rem;
  text-decoration: none;
}
body > header a > svg { max-width: 16px; }

body > header h1 { margin: 0; }
body > header h1 > small { font-size: 16px; }

/* NFT Listing */

.nfts {
  clear: both;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nfts > nft-listing { display: none; min-height: 240px; }
.nfts > nft-listing.selected { grid-column: span 3; grid-row: span 3; }
.nfts.available > nft-listing:not([owner]) { display: block; }
.nfts.yours > nft-listing[yours] { display: block; }
.nfts.all > nft-listing { display: block; }

@media screen and (min-width: 1400px) {
  .nfts { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
  .nfts > nft-listing.selected { grid-column: span 2; grid-row: span 2; }
}
@media screen and (max-width: 800px) {
  .nfts { grid-template-columns: 1fr 1fr 1fr; }
  .nfts > nft-listing.selected { grid-column: span 3; grid-row: span 3; }
}
@media screen and (max-width: 480px) {
  .nfts > nft-listing { display: none; min-height: 160px; }
  .nfts > nft-listing.selected { grid-column: span 2; grid-row: span 2; }
  .nfts { grid-template-columns: 1fr 1fr; }
}


nft-listing {
  overflow: hidden;
  position: relative;
}

/* Order Form */

body > form {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 3px #000;
}

body > form span {
  display: block;
  background-color: #131313;
  height: 3rem;
  line-height: 3rem;
  font-size: 14px;
}
body > form :checked + span {
  background-color: black;
  font-weight: bold;
}
body > form input[type="radio"] { display: none; }

body > form label {
  float: left;
  width: 33.33%;
  text-align: center;
}

body > form button {
  width: 100%;
  background-color: black;
}

/* Footer */

footer {
  padding: 0.75rem 0.75rem 0.25rem;
  background-color: black;
  width: calc(100% - 1.5rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer > div:last-child {
  text-align: right;
}
